$color-primary: #3c3c3c;
$color-green: #04b991;
$color-lightgreen: #0bcca1;
$color-yellow: #f6e43e;
$color-lightyellow: #f8e964;
$color-pink: #e40175;
$color-lightpink: #f283bc;
$color-lightgray: #f3f4f9;
$color-gray: #e3e5ef;
$color-gray2: #dcdcdc;
$color-gray3: #f6f6f6;
$color-gray4: #b9b9b9;
$color-lightviolet: #aca8c3;
$color-violet: #dcdbfb;

$container-padding: 10px;
$container-max-width: 768px;
$container-max-width-md: 960px;
$container-max-width-lg: 1280px;
$container-max-width-xl: 1600px;

$header-bar-height: 52px;
$header-bar-height-md: 80px;
$header-bar-height-lg: 80px;
$header-bar-height-xl: 92px;

$nav-panel-height-lg: 38px;
$nav-panel-height-xl: 46px;

$breakpoints: (
  xxs: 375px,
  xs: 480px,
  sm: 600px,
  md: 970px,
  lg: 1290px,
  xl: 1610px,
  xxl: 2000px
);

@mixin media($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}


$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + calc(pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + calc( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}
